[extruder]
max_extrude_only_distance: 300.0
max_extrude_cross_section:10
full_steps_per_rotation: 200
step_pin: cp_Head:PA9
dir_pin: !cp_Head:PA8
enable_pin: !cp_Head:PA10
#stepx
microsteps: 16
rotation_distance: 4.49223296
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: cp_Head:PA2
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: cp_Head:PA1
control: pid
pid_Kp: 15.822
pid_Ki: 0.759
pid_Kd: 82.478
min_temp:20
max_temp: 300
min_extrude_temp: 170
max_extrude_only_velocity: 15
pressure_advance: 0.242085
pressure_advance_smooth_time: 0.030
instantaneous_corner_velocity: 1.000