[gcode_macro CP_START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(0)|int %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    {% set axismax = printer.toolhead.axis_maximum %}
    {% set axismin_x = printer.toolhead.axis_minimum.x %}
    {% set axismin_y = printer.toolhead.axis_minimum.y %}
    # Home the printer
    G28  
    # Heat bed for probing
    M190 S{BED_TEMP}
    # Use absolute coordinates
    G90
    
	
	BED_MESH_PROFILE LOAD=default

    G1 Z10 F450
    
    M109 S{EXTRUDER_TEMP}
    T{EXTRUDER}
    {% if axismax.x > 196 %}
      G92 E0 
      G1 X0 Y152 Z0.4 F900 
      G92 E0
      G1 Y77 E20 F900 
      G92 E0
      G1 Y2 E20 F900 
      G92 E0
      G1 X98 E30 F900 
      G92 E0
      G1 X196 E30 F900 
      G92 E0
      G1 Y4 F900 
      G92 E0
      G1 X98 E30 F900
      G92 E0
      G1 X2 E30 F900 
      G92 E0
      G1 Y77 E20 F900
      G92 E0
      G1 Y152 E20 F900
      G92 E0 ;Reset Extruder
    {% else %}
    {% if axismax.y > 153 %}
      G92 E0 ;Reset Extruder
      G1 X{axismin_x + 2} Y152 Z0.4 F900 ;Move to start position
      G92 E0
      G1 Y77 E20 F900 ;Draw the first line
      G92 E0
      G1 Y2 E20 F900 ;Draw the first line
      G92 E0
      G1 X{axismax.x / 2} E30 F900 ;Draw the first line
      G92 E0
      G1 X{axismax.x - 2} E30 F900 ;Draw the first line
      G92 E0
      G1 Y{axismin_y + 4} F900 ;Draw the first line
      G92 E0
      G1 X{axismax.x / 2} E30 F900 ;Draw the first line
      G92 E0
      G1 X{axismin_x + 4} E30 F900 ;Draw the first line
      G92 E0
      G1 Y77 E20 F900 ;Draw the first line
      G92 E0
      G1 Y152 E20 F900
      G92 E0
    {% else %}
          G92 E0 ;Reset Extruder
      G1 X{axismin_x + 2} Y{axismax.Y - 2} Z0.4 F900 ;Move to start position
      G92 E0
      G1 Y{axismax.Y / 2} E20 F900 ;Draw the first line
      G92 E0
      G1 Y2 E20 F900 ;Draw the first line
      G92 E0
      G1 X{axismax.x / 2} E30 F900 ;Draw the first line
      G92 E0
      G1 X{axismax.x - 2} E30 F900 ;Draw the first line
      G92 E0
      G1 Y{axismin_y + 4} F900 ;Draw the first line
      G92 E0
      G1 X{axismax.x / 2} E30 F900 ;Draw the first line
      G92 E0
      G1 X{axismin_x + 4} E30 F900 ;Draw the first line
      G92 E0
      G1 Y{axismax.Y / 2} E20 F900 ;Draw the first line
      G92 E0
      G1 Y{axismax.Y - 2} E20 F900
      G92 E0
    {% endif %}
    {% endif %}


    G92 E0 ;Reset Extruder