#Macros and plugins installed

[include ./macros/CG28.cfg]                   # Home all axis if not homed already
[include ./macros/reset_bltouch.cfg]          # Reset BL Touch
[include ./macros/print_finished.cfg]         # Finished print macro. 2MM OF FILLAMENT TO BE RETRACTED TO PREVENT OOZING WHILE HEATING UP AT PRINT START
[include ./macros/start_print.cfg]            # Print start 
[include ./macros/prime_line.cfg]             # First half of the first pass is underextruded due to filament retraction at the end of each finished print
[include ./macros/manual_bed_leveling.cfg]    # Bed Screw, Tilt adjust
[include ./macros/bed_mesh.cfg]               # Bed Mesh 18x18 - very warped bed
[include ./macros/Print_stats.cfg]            # returns print status
[include ./macros/pressure_advance.cfg]       # Runs pressure advance calibration
#[include ./macros/test_speed.cfg]             # Speed test to check max reliabile speed of printing 
#[include ./macros/klipper_backup.cfg]             # Speed test to check max reliabile speed of printing 


# Delayed automatic ON/OFF Ender 7 when Klipper is in Shutdown or Powered on. 
[idle_timeout] 
timeout: 600
gcode:
  MACHINE_IDLE_TIMEOUT

# Turn on Ender 7
[gcode_macro M80]
gcode:
  # Moonraker action
  {action_call_remote_method('set_device_power',
                             device='ENDER-7',
                             state='on')}

# Turn off Ender 7
[gcode_macro M81]
gcode:
  # Moonraker action
  {action_call_remote_method('set_device_power',
                             device='ENDER-7',
                             state='off')}

[gcode_macro MACHINE_IDLE_TIMEOUT]
gcode:
  M84
  TURN_OFF_HEATERS
  M81