#Macros and plugins installed


[include ./macros/CG28.cfg]                   # Home all axis if not homed already
[include ./macros/print.cfg]         # Finished print macro. 2MM OF FILLAMENT TO BE RETRACTED TO PREVENT OOZING WHILE HEATING UP AT PRINT START
[include ./macros/manual_bed_leveling.cfg]    # Bed Screw, Tilt adjust
[include ./macros/Print_stats.cfg]            # returns print status
[include ./macros/pressure_advance.cfg]       # Runs pressure advance calibration
[include ./macros/test_speed.cfg]             # Speed test to check max reliabile speed of printing 
[include ./macros/klipper_backup.cfg]             # Speed test to check max reliabile speed of printing 
[include ./shaper/ADXL_SHAPER.cfg]
[include ./macros/smart_M600.cfg]
[include ./macros/power.cfg]
#[include ./filament_profiles/profiles.cfg]
[include ./macros/btt_eddy.cfg]
#[include ./macros/adaptive_bed_mesh.cfg]
[include ./macros/config_saver.cfg]