[bed_mesh]
speed: 80
horizontal_move_z: 5           #lift z between movements
mesh_min: 34, 24       
mesh_max: 261, 256
probe_count: 18, 18 
mesh_pps: 8, 8
algorithm: bicubic
bicubic_tension: 0.20

[bltouch]                             # enable for BLTouch (requires self_test after each firmware restart)
sensor_pin: ^PB1
control_pin: PB0
x_offset: 34.0                        # offset X - to be calibrated
y_offset: 25.0                        # offset Y - to be calibrated
speed: 2
samples: 2
#z_offset: 0.00                        # initial safe value, get correct value by PROBE_CALIBRATE
