# Start G-CODE Print Start
[gcode_macro START_PRINT]
gcode:
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}             # Extract bed temp from gcode as variable
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(220)|float %}  # Extract extruder temp from gcode as variable
    CG28
    G90                                                                # Use absolute coordinates
    #SET_GCODE_OFFSET Z=0.0                                            # Reset the g-code z offset
    M83                                                                # Extruder relative mode
    M107                                                               # Set fan off
    G1 Z35 F240                   # Move z axis
    M104 S135                     # preheat extruder, minimise oozing
    M190 S{BED_TEMP}              # Set and wait for bed heating
    CG28                                                             # Home printer axis
    #BED_MESH_PROFILE LOAD=v1  #Add bed mesh probing here if needed (BED_MESH_CALIBRATE)
    BED_MESH_CALIBRATE SCAN_MODE=rapid METHOD=scan ADAPTIVE=1
    G1 X2 Y10 F3000               # Move x,y axis
    M109 S{EXTRUDER_TEMP}         # Set and wait for hotend heating
    PRIME_LINE                    #Prime Nozzle (On build plate left)